/*-------------- vinculado al CSS de Daybyday porque tienen el mismo formato*/ 
/*--------------Bloque 2:desarrollo del proyecto*/
.citiLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0; /* elimina el espacio entre las imágenes */
} 
.citiLink img {
    width: 100%;
    height: auto;
    object-fit: cover; /* asegura que la imagen ocupe todo el contenedor */
    border-radius: 5px; 
    margin: 10px;
}