/*-------------- vinculado al CSS de Daybyday porque tienen el mismo formato*/ 

/*-------------- Edición botón */ 
button {
    border: 1px solid #C7D0ED;
    color: #273e79;
    background-color: white; 
    margin-bottom: 5px;
}
/*-------------- Bloque 2: desarrollo del proyecto. Apartado Bloque Sistema de Diseño */ 
.sistemaDiseno{
    padding: 35px 70px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.colores{
    width: 80px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
}
.colores:first-child{
    color: #B0B9D2;
    background-color: #EEEEEE;
}
.colores:nth-child(2){
    color: white;
    background-color: #B0B9D2;
}
.colores:nth-child(3){
    color: #B0B9D2;
    background-color: #1A2C5B;
}
.colores:last-child{
    color: white;
    background-color: #780F48;
}
/* tipografía */ 
.tipografia{
    padding: 35px 70px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
/*-------------- Bloque 2: desarrollo del proyecto. Apartado Imagen final */
.fin{
    height: 300px;
    padding: 0 70px 80px 70px;
    background-image: url(../../imagenes/uxui-design-quest/imagen-fin.png); 
    background-position: center;
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-repeat: no-repeat;
    margin-top: 20px;
}
/*-------------- Responsive mv: tipografía*/
@media (max-width: 768px) {
    .tipografia{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}